<!-- registration.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
    <!-- Agrega la referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">San Francisco Soche</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'task:vista_restringida_Administrador' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'task:user_table' %}">Usuarios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'task:view_fontanero' %}">Fontaneros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task:jornales_view' %}">Jornales</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'task:sector_view' %}">Sectores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task:logout' %}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Registro de Usuario</h2>
        <form method="POST" action="{% url 'task:register_fontanero' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombres_apellidos">Nombres y apellidos:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="disponibilidad">Disponibilidad:</label>
                <select id="estado" name="estado" class="form-control">
                    <option value="disponible">Disponible</option>
                    <option value="no_disponible">No Disponible</option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="tipo_pago">Tipo de Pago:</label>
                <select id="tipo_pago" name="tipo_pago" class="form-control">
                    <option value="semanal">Semanal</option>
                    <option value="mensual">Mensual</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dpi">DPI:</label>
                <input type="text" id="dpi" name="dpi" class="form-control" minlength="13" maxlength="13" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

    <!-- Agrega la referencia a Bootstrap JS y jQuery (necesario para el funcionamiento de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
