<!DOCTYPE html>
<html>
<head>
    <title>Modificar Predios</title>
    <!-- Agrega la referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">San Francisco Soche</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'task:vista_restringida_Administrador' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task:user_table' %}">Usuarios</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'task:view_fontanero' %}">Fontaneros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task:jornales_view' %}">Jornales</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'task:view_predios' %}">Predios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task:sector_view' %}">Sectores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'task:logout' %}">Salir</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>Modificar Predio</h2>
        <form method="POST" action="{% url 'task:modify_predio' idpredio=predio.idpredio %}">
            {% csrf_token %}
            <div class="form-group">
                <select id="usuario" name="usuario" class="form-control select2" value="{{ predio.dueño_id }}"data-url="{% url 'task:search_users' %}">
                </select>                
            </div>
            <div class="form-group">
                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" class="form-control" value="{{ predio.ubicacion }}" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select id="estado" name="estado" value="{{ predio.estado }}"class="form-control">
                    <option value="Disponible">Disponible</option>
                    <option value="No Disponible">No Disponible</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>

    <!-- Agrega la referencia a Bootstrap JS y jQuery (necesario para el funcionamiento de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery(".select2").select2({
                placeholder: "Selecciona un usuario",
                minimumInputLength: 2,  // Número mínimo de caracteres para activar la búsqueda
                ajax: {
                    url: function (params) {
                        return jQuery(this).data('url') + '?search=' + params.term;  // URL con el parámetro de búsqueda
                    },
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                }
            });
        });
        </script>
</body>
</html>
